li {
  list-style: none;
}

body {
  padding-top: 80px;
  padding-left: 270px;
  background-color: #f5f7ff !important;
  position: relative;
}

section#main {
  width: 100%;
  min-height: 1000px;
}
#sub-box {
  background-color: white;
  padding: 12px 30px 12px 30px;
  box-sizing: border-box;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100px;
}
.sub-title {
  margin-left: 3rem !important;
  font: 800 20px "Noto Sans KR" !important;
  color: #0f3978;
}
